html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  background-color: rgb(190, 190, 190);
  color: #252525;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of the viewport height */
  padding: 20px; /* This sets the margin around the entire container */
  box-sizing: border-box; /* Includes padding in the height calculation */
}

.header {
  height: 12vh; /* 15% of the viewport height */
  margin: 0px;
  background-color: #9b9b9b; /* Placeholder color, adjust as needed */
  border-radius: 3vh; /* Rounded corners for the header */
  display: flex;
  align-items: center; /* This will vertically center the content inside the header */
  padding: 0 20px; /* Add padding to the left and right inside the header */
  justify-content: space-between; 
}

.header-title {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
  /* Add any additional styling for the title text here */
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  color:rgb(135, 214, 188);
}

.content {
  flex: 1;
  display: flex;
  margin-top: 10px; /* Margin between the header and the boxes */
}

.box {
  flex: 1; /* Each box will take up an equal amount of space */
  background-color: #9b9b9b; /* Placeholder color, adjust as needed */
  border-radius: 6vh; /* Rounded corners for the boxes */
  margin: 10px; /* Horizontal margin for the boxes */
  padding: 0 6vh;
}

.boxcontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5% 2%;
  width: 96%;
}

.optionset {
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 96%;
  background-color: aquamarine;
  border-radius: 2vh;
}

.optionselect {
  width: 50%
}

/* If you want the first box to be flush with the header, remove its left margin */
.left-box {
  margin-left: 0;
  margin-right: 10px;
}

/* If you want the last box to be flush with the right margin, remove its right margin */
.right-box {
  margin-right: 0;
  margin-left: 10px;
}
